<!DOCTYPE html>
<html lang=ru>
<head>
    <meta charset="utf-8">
    <title>My_page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<p></p>
<p></p>
<h2>Чехлов Владимир</h2>
<hr>
<br><a href="https://t.me/Chekhlov51">Профиль в Телеграм</a>
<p></p>
<img src="/HW 11/cv.png" width="280" alt=""/>
<h4><MARK>О себе:</MARK></h4>
<p>Обучаюсь в <em>СкайПро</em> по специальности <INS>пайтон-разработчик</INS>.</p>
<p>По окончании курсов планирую трудоустройство в <STRONG>IT компанию Google</STRONG>.</p>
<form action="https://httpbin.org/get">
    <label>
        <input type="text" value="Взять к себе на работу "/>
    </label>
    <input type="submit" value="Подтвердить"/>
</form>
</body>
</html>